{% if page.comments %}
  <!-- Add Disqus comments. -->
  <div class="disqus_thread"></div>
  <script type="text/javascript">
		function loadDisqus(){
          	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          	dsq.src = '//systematicinvestor.disqus.com/embed.js';
          	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		}
	
		setTimeout("loadDisqus();", 5 * 1000);          
  </script>
{% endif %}

